<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/logo.png">
      <title>CaloCal - Shopping the Healthy Way</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Icofont Icon-->
      <link href="vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="vendor/sidebar/demo.css" rel="stylesheet">
   </head>
   <body class="fixed-bottom-padding">
      <div class="osahan-order">
         <div class="p-3 border-bottom">
            <div class="d-flex align-items-center">
               <a class="font-weight-bold text-success text-decoration-none" href="home.html">
               <i class="icofont-rounded-left back-page"></i></a>
               <span class="font-weight-bold ml-3 h6 mb-0">History</span>
               <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
         </div>
         <div class="order-body px-3 pt-3">
            <div class="pb-3">
               <a href="list.html" class="text-decoration-none text-dark">
                  <div class="p-3 rounded shadow-sm bg-white">
                     <div class="d-flex align-items-center mb-3">
                        <p class="bg-success text-white py-1 px-2 mb-0 rounded small">Saved</p>
                        <p class="text-muted ml-auto small mb-0"><i class="icofont-clock-time"></i> 06/04/2021</p>
                     </div>
                     <div class="d-flex">
                        <p class="text-muted m-0">List. ID<br>
                           <span class="text-dark font-weight-bold">#321DERS</span>
                        </p>
                        <p class="text-muted m-0 ml-auto">Total Calories<br>
                           <span class="text-dark font-weight-bold">82 Cal</span>
                        </p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="pb-3">
               <a href="list.html" class="text-decoration-none text-dark">
                  <div class="p-3 rounded shadow-sm bg-white">
                     <div class="d-flex align-items-center mb-3">
                        <p class="bg-success text-white py-1 px-2 rounded small m-0">Saved</p>
                        <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> 06/08/2021</p>
                     </div>
                     <div class="d-flex">
                        <p class="text-muted m-0">List. ID<br>
                           <span class="text-dark font-weight-bold">#325DERS</span>
                        </p>
                        <p class="text-muted m-0 ml-auto">Total Calories<br>
                           <span class="text-dark font-weight-bold">26 Cal</span>
                        </p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="pb-3">
               <a href="list.html" class="text-decoration-none text-dark">
                  <div class="p-3 rounded shadow-sm bg-white">
                     <div class="d-flex align-items-center mb-3">
                        <p class="bg-success text-white py-1 px-2 rounded small mb-0">Saved</p>
                        <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> 08/09/2021</p>
                     </div>
                     <div class="d-flex">
                        <p class="text-muted m-0">List. ID<br>
                           <span class="text-dark font-weight-bold">#328DERS</span>
                        </p>
                        <p class="text-muted m-0 ml-auto">Total Calories<br>
                           <span class="text-dark font-weight-bold">$79 Cal</span>
                        </p>
                     </div>
                  </div>
               </a>
            </div>
            
         </div>
      </div>
      <!-- Footer -->
      <div class="osahan-menu-fotter fixed-bottom bg-white text-center border-top">
         <div class="row m-0">
            <a href="home.html" class="text-muted col small text-decoration-none p-2">
               <p class="h5 m-0"><i class="icofont-home"></i></p>
               Home
            </a>
             <a href="list.html" class="text-muted col small text-decoration-none p-2">
               <p class="h5 m-0"><i class="icofont-sub-listing"></i></p>
               My List </a>
			 <a href="complete_order.html" class="text-muted col small font-weight-bold text-decoration-none p-2 selected">
               <p class="h5 m-0"><i class="text-success icofont-ui-calendar"></i></p>
               History&nbsp;
            </a>
            <a href="my_account.html" class="text-muted small col text-decoration-none p-2">
               <p class="h5 m-0"><i class="icofont-user"></i></p>
               Profile
            </a>
         </div>
      </div>
      <nav id="main-nav">
         <ul class="second-nav">
            <li><a href="home.html"><i class="icofont-ui-home mr-2"></i> Home</a></li>
            <li><a href="notification.html"><i class="icofont-notification mr-2"></i> Notification</a></li>
            
            <li><a href="list.html"><i class="icofont-sub-listing mr-2"></i> My List</a></li>
            
            <li><a href="complete_order.html" class="font-weight-bold selected"><i class="icofont-ui-calendar mr-2"></i> History</a></li>
			 
			<li><a href="health_tips.html"><i class="icofont-light-bulb mr-2"></i> Health Tips</a></li>
           
			<li><a href="my_account.html"><i class="icofont-ui-user mr-2"></i> My Account</a></li>
			 <li>
               <a href="#"><i class="icofont-sub-listing mr-2"></i> Settings</a>
               <ul>
                  <li><a href="review.html">Rate this App</a></li>
				  <li><a href="terms&conditions.html">Terms & Conditions</a></li>
                  <li><a href="privacy.html">Privacy</a></li>
                  <li> <a href="help_support.html">Help Support</a></li>
               </ul>
            </li>
		   </ul>
         <ul class="bottom-nav">
            <li class="email">
               <a href="home.html" class="text-dark small col text-decoration-none p-2">
                  <p class="h5 m-0"><i class="icofont-home"></i></p>
                  Home
               </a>
            </li>
            <li class="github">
               <a href="list.html">
                  <p class="h5 m-0"><i class="icofont-sub-listing"></i></p>
                  My List
               </a>
            </li>
            <li class="ko-fi">
               <a href="help_ticket.html">
                  <p class="h5 m-0"><i class="icofont-headphone"></i></p>
                  Help
               </a>
            </li>
         </ul>
      </nav>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Sidebar JS-->
      <script type="text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
   </body>
</html>